
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494902195556'); /* IE9*/
  src: url('iconfont.eot?t=1494902195556#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494902195556') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494902195556') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494902195556#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before { content: "\e604"; }

.icon-config:before { content: "\e6a0"; }

.icon-yonghu:before { content: "\e625"; }

.icon-baidu:before { content: "\e7df"; }

.icon-add:before { content: "\e6b5"; }

.icon-bofangqishangyiqu:before { content: "\e63c"; }

.icon-arrow:before { content: "\e646"; }

.icon-cc-mic:before { content: "\e675"; }

.icon-bofangqikaishi:before { content: "\e607"; }

.icon-arrow-copy:before { content: "\e67c"; }

.icon-huidaodingbu:before { content: "\e605"; }

.icon-1:before { content: "\e6bf"; }

.icon-suijibofang:before { content: "\e600"; }

.icon-bofangqixiayiqu:before { content: "\e601"; }

.icon-volume:before { content: "\e60d"; }

.icon-qiehuan1:before { content: "\e602"; }

.icon-tianqi:before { content: "\e609"; }

.icon-sousuo_sousuo:before { content: "\e60b"; }

