@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
body{
	 background-color:#8E0047;
	 margin-top:30px;
	}
div{
	display:block;
	}
#view{
    width: 320px;
    height: 320px;
    margin: 120px auto 0 auto;
	-webkit-transform-style:preserve-3d; 
	-webkit-animation: rotate 30s infinite;
	-webkit-transform-origin: 150px 150px 0px;
	/*下面是为了兼容更多浏览器*/
	-moz-transform-style: preserve-3d;     
    -moz-animation: rotate 30s infinite;
    -moz-transform-origin: 150px 150px 0px;
	transform-style:preserve-3d;
	animation: rotate 30s infinite;
    transform-origin: 150px 150px 0px;
}

@-webkit-keyframes rotate {
    from,
    to {}
    15% {
        -webkit-transform: rotateY(-135deg);
    }
    30% {
        -webkit-transform: rotateY(-90deg)rotateZ(135deg); 
    }
    45% {
        -webkit-transform: rotateY(225deg)rotateZ(135deg);
    }
    60% {
        -webkit-transform: rotateY(135deg)rotateX(135deg);
    }
    75% {
        -webkit-transform: rotateX(135deg)rotateY(225deg);
    }
    90% {
        -webkit-transform: rotateX(-135deg);
    }
}

@-moz-keyframes rotate {
    from,
    to {}
    15% {
        -moz-transform: rotateY(-135deg);
    }
    30% {
        -moz-transform: rotateY(-90deg)rotateZ(135deg);
    }
    45% {
        -moz-transform: rotateY(225deg)rotateZ(135deg);
    }
    60% {
        -moz-transform: rotateY(135deg)rotateX(135deg);
    }
    75% {
        -moz-transform: rotateX(135deg)rotateY(225deg);
    }
    90% {
        -moz-transform: rotateX(-135deg);
    }
}

@keyframes rotate {
    from,
    to {}
    15% {
        transform: rotateY(-135deg);
    }
    30% {
        transform: rotateY(-90deg)rotateZ(135deg);
    }
    45% {
        transform: rotateY(225deg)rotateZ(135deg);
    }
    60% {
        transform: rotateY(135deg)rotateX(135deg);
    }
    75% {
        transform: rotateX(135deg)rotateY(225deg);
    }
    90% {
        transform: rotateX(-135deg);
    }
}

.cube div {
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 5%;
}
.one div,
.two div,
.three div,
.four div,
.five div,
.six div {
    width: 96px;
    height: 96px;
    border:2px solid #fff;
    border-radius: 10%;
    display: inline-block;
}
.cube div div:nth-child(1) {}

.cube div div:nth-child(2) {
    left: 100px;
}

.cube div div:nth-child(3) {
    left: 200px;
}

.cube div div:nth-child(4) {
    top: 100px;
}

.cube div div:nth-child(5) {
    top: 100px;
    left: 100px;
}

.cube div div:nth-child(6) {
    top: 100px;
    left: 200px;
}

.cube div div:nth-child(7) {
    top: 200px;
}

.cube div div:nth-child(8) {
    top: 200px;
    left: 100px;
}

.cube div div:nth-child(9) {
    top: 200px;
    left: 200px;
}
.up{
	background-color:#C00;
	}
.under{
	background-color:#000;
	}
.left{
	background-color:#FF0;
	}
.right{
	background-color:#0C0;
	}
.front{
	background-color:#009;
	}
.back{
	background-color:orange;
	}

.one{
	transform: translateZ(150px);
	-webkit-transform: translateZ(150px);
    -moz-transform: translateZ(150px);
	}
.two{
	transform: rotateX(-90deg) translateZ(150px);
	-webkit-transform: rotateX(-90deg) translateZ(150px);
    -moz-transform: rotateX(-90deg) translateZ(150px);
	}
.three{
	transform: rotateX(90deg) translateZ(150px);
	-webkit-transform: rotateX(90deg) translateZ(150px);
    -moz-transform: rotateX(90deg) translateZ(150px);
	}
.four{
	transform: rotateZ(180deg) rotateY(180deg) translateZ(150px);
	-webkit-transform: rotateZ(180deg) rotateY(180deg) translateZ(150px);
    -moz-transform: rotateZ(180deg) rotateY(180deg) translateZ(150px);
	}
.five{
	transform: rotateY(-90deg) translateZ(150px);
	-webkit-transform: rotateY(-90deg) translateZ(150px);
    -moz-transform: rotateY(-90deg) translateZ(150px);
	}
.six{
	transform: rotateY(90deg) translateZ(150px);
	-webkit-transform: rotateY(90deg) translateZ(150px);
	-moz-transform: rotateY(90deg) translateZ(150px);
	}
