<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>京东购物车</title>
	<link rel="stylesheet" href="CSS/style.css">
	<link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
</head>
<body ng-app="angularJdApp" ng-controller="myCtrl">
<header class="jd-header">
    <div class="jd-header-bar">
    	<div class="jd-header-icon-back">
    		<span></span>
    	</div>
    	<div class="jd-header-title">购物车</div>
    	<!--<div class="edit-container">
    		<div class="edit-on">编辑</div>
    	</div>-->
    	
    </div>
    <div class="jd-tab">
    	<div class="jd-tb1-type">
	    	<a href="#" class="jd-tb1-cell">
	    		<span class="icon1">首页</span>
	    		<p>首页</p>
	    	</a>
	    	<a href="#" class="jd-tb1-cell">
	    		<span class="icon2">分类搜索</span>
	    		<p>分类搜索</p>
	    	</a>
	    	<a href="#" class="jd-tb1-cell">
	    		<span class="icon3">购物车</span>
	    		<p>购物车</p>
	    	</a>
	    	<a href="#" class="jd-tb1-cell">
	    		<span class="icon4">我的京东</span>
	    		<p>我的京东</p>
	    	</a>
	    </div>
    </div>
</header>
<!--购物车没有物品时提示-->
<div class="shopping-cart-empty" ng-if="SCL.length<=0">
	<em class="cart-empty-icon"></em>
	<span class="cart-empty-msg">购物车空空滴~来逛逛呀~</span>
</div>
<!--购物车没有物品时提示end-->

<!--选购物品时清单显示-->
<div id="nonEmptyCart">
	<div class="shopping-group">
		<div class="shopping-group-item" id="">
			<div class="shopping-title" ng-if="SCL.length>0">
				<div class="item">
					<div class="check-wrapper">
						<span class="cart-checkbox" ng-click="checkIcon()" ng-class="{'checked':isChecked}"></span>
					</div>
					<div class="shopping-title-content">
						<span class="shopping-title-icon"><img src="img/JDshopTitle.png" alt="京东"></span>
						<span class="shopping-title-name"><p>京东自营</p></span>
					</div>
				</div>
			</div>
			<ul>
				<li ng-repeat="items in SCL track by $index"></li>
			</ul>
			<ul class="shopping-cart-list" id="showCartList">
				<li id="" ng-class="{'itemHidden':isItemHidden01}" ng-model="task1">
					<div class="items">
						<div class="check-wrapper">
							<span class="cart-checkbox checked" id="p01" ng-class="{'checked':isChecked}" onclick="pCart(1)"></span>
						</div> 
						<div class="item-core">
							<span class="cart-product-cell-1"><img src="img/img1.jpg" alt=""></span>
							<div class="cart-product-cell-2">
								<div class="cart-product-name">
									<span class="">哈皮猴 新货威海盐渍海带头2.5kg 新鲜收割产地直发 绿色健康</span>
								</div>
								<div class="cart-icon-list"></div>
								<div class="cart-product-value">
									<span class="item-price" ng-model="price01">
										￥<strong>19</strong>.80
									</span>
									<div class="quantity-wrapper">
										<a href="" class="quantity-decrease" ng-click="quantityDecrease(1)"></a>
										<input type="tel" name="num" class="quantity" size="4" ng-model="number01">
										<a href="" class="quantity-increase" ng-click="number01=number01+1"></a>
									</div>
								</div>
							</div>
							<div class="cart-product-cell-3">
								<div class="shopping-btn-quantity">
									<a href="" class="cart-edit-btn">
										<span class="right-boundary"></span>
										<span class="btn-msg-in" ng-click="editCart(1)" ng-class="{'cart-edit-btn-hidden':isEditHidden01}">编辑</span>
									</a>
								</div>
								<div class="option-btns" ng-class="{'option-btns-hidden':isOptionHidden01}">
									<div class="shop-btn-com">
										<a href="" class="cart-focus-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="focus-btn-msg" ng-click="">移入关注</span>
										</a>
										<a href="" class="cart-delete-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="delete-btn-msg" ng-click="deleteItem(1)">删除</span>
										</a>
										<a href="" class="cart-finish-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="finish-btn-msg" ng-click="editCart(1)">完成</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div> 
				</li>
				<li id="" ng-class="{'itemHidden':isItemHidden02}" ng-model="task2">
					<div class="items">
						<div class="check-wrapper">
							<span class="cart-checkbox checked" id="p02" ng-class="{'checked':isChecked}" onclick="pCart(2)"></span>
						</div>
						<div class="item-core">
							<span class="cart-product-cell-1"><img src="img/img2.jpg" alt=""></span>
							<div class="cart-product-cell-2">
								<div class="cart-product-name">
									<span class="">【有颜值有实力！】又壹点 家用垃圾袋中号加厚背心式手提塑料袋抽取式 背心式45*65/10卷装</span>
								</div>
								<div class="cart-icon-list"></div>
								<div class="cart-product-value">
									<span class="item-price" ng-model="price02">
										￥<strong>26</strong>.90
									</span>
									<div class="quantity-wrapper">
										<a href="" class="quantity-decrease" ng-click="quantityDecrease(2)"></a>
										<input type="tel" name="num" class="quantity" size="4" ng-model="number02">
										<a href="" class="quantity-increase" ng-click="number02=number02+1"></a>
									</div>
								</div>
							</div>
							<div class="cart-product-cell-3">
								<div class="shopping-btn-quantity">
									<a href="" class="cart-edit-btn">
										<span class="right-boundary"></span>
										<span class="btn-msg-in" ng-click="editCart(2)" ng-class="{'cart-edit-btn-hidden':isEditHidden02}">编辑</span>
									</a>
								</div>
								<div class="option-btns" ng-class="{'option-btns-hidden':isOptionHidden02}">
									<div class="shop-btn-com">
										<a href="" class="cart-focus-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="focus-btn-msg" ng-click="">移入关注</span>
										</a>
										<a href="" class="cart-delete-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="delete-btn-msg" ng-click="deleteItem(2)">删除</span>
										</a>
										<a href="" class="cart-finish-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="finish-btn-msg" ng-click="editCart(2)">完成</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li id="" ng-class="{'itemHidden':isItemHidden03}" ng-model="task3">
					<div class="items">
						<div class="check-wrapper">
							<span class="cart-checkbox checked" id="p03" ng-class="{'checked':isChecked}" onclick="pCart(3)"></span>
						</div>
						<div class="item-core">
							<span class="cart-product-cell-1"><img src="img/img3.jpg" alt=""></span>
							<div class="cart-product-cell-2">
								<div class="cart-product-name">
									<span class="">【京东超市】三剑客 美宜畅乳酸菌牛奶饮品 原味 338ml*10 整箱装（新老包装随机发货）</span>
								</div>
								<div class="cart-icon-list"></div>
								<div class="cart-product-value">
									<span class="item-price" ng-model="price03">
										￥<strong>36</strong>.00
									</span>
									<div class="quantity-wrapper">
										<a href="" class="quantity-decrease" ng-click="quantityDecrease(3)"></a>
										<input type="tel" name="num" class="quantity" size="4" ng-model="number03">
										<a href="" class="quantity-increase" ng-click="number03=number03+1"></a>
									</div>
								</div>
							</div>
							<div class="cart-product-cell-3">
								<div class="shopping-btn-quantity">
									<a href="" class="cart-edit-btn">
										<span class="right-boundary"></span>
										<span class="btn-msg-in" ng-click="editCart(3)" ng-class="{'cart-edit-btn-hidden':isEditHidden03}">编辑</span>
									</a>
								</div>
								<div class="option-btns" ng-class="{'option-btns-hidden':isOptionHidden03}">
									<div class="shop-btn-com">
										<a href="" class="cart-focus-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="focus-btn-msg" ng-click="">移入关注</span>
										</a>
										<a href="" class="cart-delete-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="delete-btn-msg" ng-click="deleteItem(3)">删除</span>
										</a>
										<a href="" class="cart-finish-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="finish-btn-msg" ng-click="editCart(3)">完成</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li id="" ng-class="{'itemHidden':isItemHidden04}" ng-model="task4">
					<div class="items">
						<div class="check-wrapper">
							<span class="cart-checkbox checked" id="p04" ng-class="{'checked':isChecked}" onclick="pCart(4)"></span>
						</div>
						<div class="item-core">
							<span class="cart-product-cell-1"><img src="img/img4.jpg" alt=""></span>
							<div class="cart-product-cell-2">
								<div class="cart-product-name">
									<span class="">【3免1】美型 苹果数据线7/6s快充电线锌合金指示灯iphone6/6s/7ipad 闪电快充-玫瑰金1米</span>
								</div>
								<div class="cart-icon-list"></div>
								<div class="cart-product-value">
									<span class="item-price" ng-model="price04">
										￥<strong>13</strong>.80
									</span>
									<div class="quantity-wrapper">
										<a href="" class="quantity-decrease" ng-click="quantityDecrease(4)"></a>
										<input type="tel" name="num" class="quantity" size="4" ng-model="number04">
										<a href="" class="quantity-increase" ng-click="number04=number04+1"></a>
									</div>
								</div>
							</div>
							<div class="cart-product-cell-3">
								<div class="shopping-btn-quantity">
									<a href="" class="cart-edit-btn">
										<span class="right-boundary"></span>
										<span class="btn-msg-in" ng-click="editCart(4)" ng-class="{'cart-edit-btn-hidden':isEditHidden04}">编辑</span>
									</a>
								</div>
								<div class="option-btns" ng-class="{'option-btns-hidden':isOptionHidden04}">
									<div class="shop-btn-com">
										<a href="" class="cart-focus-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="focus-btn-msg" ng-click="">移入关注</span>
										</a>
										<a href="" class="cart-delete-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="delete-btn-msg" ng-click="deleteItem(4)">删除</span>
										</a>
										<a href="" class="cart-finish-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="finish-btn-msg" ng-click="editCart(4)">完成</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li id="" ng-class="{'itemHidden':isItemHidden05}" ng-model="task5">
					<div class="items">
						<div class="check-wrapper">
							<span class="cart-checkbox checked" id="p05" ng-class="{'checked':isChecked}" onclick="pCart(5)"></span>
						</div>
						<div class="item-core">
							<span class="cart-product-cell-1"><img src="img/img5.jpg" alt=""></span>
							<div class="cart-product-cell-2">
								<div class="cart-product-name">
									<span class="">【京东超市】e洁 自动收口垃圾袋加厚手提式 45cm*50cm*18只*6卷</span>
								</div>
								<div class="cart-icon-list"></div>
								<div class="cart-product-value">
									<span class="item-price" ng-model="price05">
										￥<strong>19</strong>.80
									</span>
									<div class="quantity-wrapper">
										<a href="" class="quantity-decrease" ng-click="quantityDecrease(5)"></a>
										<input type="tel" name="num" class="quantity" size="4" ng-model="number05">
										<a href="" class="quantity-increase" ng-click="number05=number05+1"></a>
									</div>
								</div>
							</div>
							<div class="cart-product-cell-3">
								<div class="shopping-btn-quantity">
									<a href="" class="cart-edit-btn">
										<span class="right-boundary"></span>
										<span class="btn-msg-in" ng-click="editCart(5)" ng-class="{'cart-edit-btn-hidden':isEditHidden05}">编辑</span>
									</a>
								</div>
								<div class="option-btns" ng-class="{'option-btns-hidden':isOptionHidden05}">
									<div class="shop-btn-com">
										<a href="" class="cart-focus-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="focus-btn-msg" ng-click="">移入关注</span>
										</a>
										<a href="" class="cart-delete-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="delete-btn-msg" ng-click="deleteItem(5)">删除</span>
										</a>
										<a href="" class="cart-finish-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="finish-btn-msg" ng-click="editCart(5)">完成</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li id="" ng-class="{'itemHidden':isItemHidden06}" ng-model="task6">
					<div class="items">
						<div class="check-wrapper">
							<span class="cart-checkbox checked" id="p06" ng-class="{'checked':isChecked}" onclick="pCart(6)"></span>
						</div>
						<div class="item-core">
							<span class="cart-product-cell-1"><img src="img/img6.jpg" alt=""></span>
							<div class="cart-product-cell-2">
								<div class="cart-product-name">
									<span class="">可爱多 婴儿柔湿巾新生儿宝宝儿童手口湿纸巾盖装80抽*5包共400抽</span>
								</div>
								<div class="cart-icon-list"></div>
								<div class="cart-product-value">
									<span class="item-price" ng-model="price06">
										￥<strong>21</strong>.90
									</span>
									<div class="quantity-wrapper">
										<a href="" class="quantity-decrease" ng-click="quantityDecrease(6)"></a>
										<input type="tel" name="num" class="quantity" size="4" ng-model="number06">
										<a href="" class="quantity-increase" ng-click="number06=number06+1"></a>
									</div>
								</div>
							</div>
							<div class="cart-product-cell-3">
								<div class="shopping-btn-quantity">
									<a href="" class="cart-edit-btn">
										<span class="right-boundary"></span>
										<span class="btn-msg-in" ng-click="editCart(6)" ng-class="{'cart-edit-btn-hidden':isEditHidden06}">编辑</span>
									</a>
								</div>
								<div class="option-btns" ng-class="{'option-btns-hidden':isOptionHidden06}">
									<div class="shop-btn-com">
										<a href="" class="cart-focus-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="focus-btn-msg" ng-click="">移入关注</span>
										</a>
										<a href="" class="cart-delete-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="delete-btn-msg" ng-click="deleteItem(6)">删除</span>
										</a>
										<a href="" class="cart-finish-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="finish-btn-msg" ng-click="editCart(6)">完成</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li id="" ng-class="{'itemHidden':isItemHidden07}" ng-model="task7">
					<div class="items">
						<div class="check-wrapper">
							<span class="cart-checkbox checked" id="p07" ng-class="{'checked':isChecked}" onclick="pCart(7)"></span>
						</div>
						<div class="item-core">
							<span class="cart-product-cell-1"><img src="img/img7.jpg" alt=""></span>
							<div class="cart-product-cell-2">
								<div class="cart-product-name">
									<span class="">【京东超市】清风（APP）抽纸 柔韧2层200抽软抽*20包纸巾（新老包装交替发货）（整箱售卖）</span>
								</div>
								<div class="cart-icon-list"></div>
								<div class="cart-product-value">
									<span class="item-price" ng-model="price07">
										￥<strong>36</strong>.90
									</span>
									<div class="quantity-wrapper">
										<a href="" class="quantity-decrease" ng-click="quantityDecrease(7)"></a>
										<input type="tel" name="num" class="quantity" size="4" ng-model="number07">
										<a href="" class="quantity-increase" ng-click="number07=number07+1"></a>
									</div>
								</div>
							</div>
							<div class="cart-product-cell-3">
								<div class="shopping-btn-quantity">
									<a href="" class="cart-edit-btn">
										<span class="right-boundary"></span>
										<span class="btn-msg-in" ng-click="editCart(7)" ng-class="{'cart-edit-btn-hidden':isEditHidden07}">编辑</span>
									</a>
								</div>
								<div class="option-btns" ng-class="{'option-btns-hidden':isOptionHidden07}">
									<div class="shop-btn-com">
										<a href="" class="cart-focus-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="focus-btn-msg" ng-click="">移入关注</span>
										</a>
										<a href="" class="cart-delete-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="delete-btn-msg" ng-click="deleteItem(7)">删除</span>
										</a>
										<a href="" class="cart-finish-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="finish-btn-msg" ng-click="editCart(7)">完成</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li id="" ng-class="{'itemHidden':isItemHidden08}" ng-model="task8">
					<div class="items">
						<div class="check-wrapper">
							<span class="cart-checkbox checked" id="p08" ng-class="{'checked':isChecked}" onclick="pCart(8)"></span>
						</div>
						<div class="item-core">
							<span class="cart-product-cell-1"><img src="img/img8.jpg" alt=""></span>
							<div class="cart-product-cell-2">
								<div class="cart-product-name">
									<span class="">又壹点 垃圾桶家用大号不锈钢翻盖脚踏式静音卫生桶 12升垃圾桶 不锈钢材质</span>
								</div>
								<div class="cart-icon-list"></div>
								<div class="cart-product-value">
									<span class="item-price" ng-model="price08">
										￥<strong>129</strong>.00
									</span>
									<div class="quantity-wrapper">
										<a href="" class="quantity-decrease" ng-click="quantityDecrease(8)"></a>
										<input type="tel" name="num" class="quantity" size="4" ng-model="number08">
										<a href="" class="quantity-increase" ng-click="number08=number08+1"></a>
									</div>
								</div>
							</div>
							<div class="cart-product-cell-3">
								<div class="shopping-btn-quantity">
									<a href="" class="cart-edit-btn">
										<span class="right-boundary"></span>
										<span class="btn-msg-in" ng-click="editCart(8)" ng-class="{'cart-edit-btn-hidden':isEditHidden08}">编辑</span>
									</a>
								</div>
								<div class="option-btns" ng-class="{'option-btns-hidden':isOptionHidden08}">
									<div class="shop-btn-com">
										<a href="" class="cart-focus-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="focus-btn-msg" ng-click="">移入关注</span>
										</a>
										<a href="" class="cart-delete-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="delete-btn-msg" ng-click="deleteItem(8)">删除</span>
										</a>
										<a href="" class="cart-finish-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="finish-btn-msg" ng-click="editCart(8)">完成</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li id="" ng-class="{'itemHidden':isItemHidden09}" ng-model="task9">
					<div class="items">
						<div class="check-wrapper">
							<span class="cart-checkbox checked" id="p09" ng-class="{'checked':isChecked}" onclick="pCart(9)"></span>
						</div>
						<div class="item-core">
							<span class="cart-product-cell-1"><img src="img/img9.jpg" alt=""></span>
							<div class="cart-product-cell-2">
								<div class="cart-product-name">
									<span class="">全8册写给儿童的中国历史故事 中华上下五千年 青少年版 儿童文学 历史百科6-15岁</span>
								</div>
								<div class="cart-icon-list"></div>
								<div class="cart-product-value">
									<span class="item-price" ng-model="price09">
										￥<strong>36</strong>.80
									</span>
									<div class="quantity-wrapper">
										<a href="" class="quantity-decrease" ng-click="quantityDecrease(9)"></a>
										<input type="tel" name="num" class="quantity" size="4" ng-model="number09">
										<a href="" class="quantity-increase" ng-click="number09=number09+1"></a>
									</div>
								</div>
							</div>
							<div class="cart-product-cell-3">
								<div class="shopping-btn-quantity">
									<a href="" class="cart-edit-btn">
										<span class="right-boundary"></span>
										<span class="btn-msg-in" ng-click="editCart(9)" ng-class="{'cart-edit-btn-hidden':isEditHidden09}">编辑</span>
									</a>
								</div>
								<div class="option-btns" ng-class="{'option-btns-hidden':isOptionHidden09}">
									<div class="shop-btn-com">
										<a href="" class="cart-focus-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="focus-btn-msg" ng-click="">移入关注</span>
										</a>
										<a href="" class="cart-delete-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="delete-btn-msg" ng-click="deleteItem(9)">删除</span>
										</a>
										<a href="" class="cart-finish-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="finish-btn-msg" ng-click="editCart(9)">完成</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li id="" ng-class="{'itemHidden':isItemHidden10}" ng-model="task10">
					<div class="items">
						<div class="check-wrapper">
							<span class="cart-checkbox checked" id="p10" ng-class="{'checked':isChecked}" onclick="pCart(10)"></span>
						</div>
						<div class="item-core">
							<span class="cart-product-cell-1"><img src="img/img10.jpg" alt=""></span>
							<div class="cart-product-cell-2">
								<div class="cart-product-name">
									<span class="">小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G PCIE固态硬盘 940MX独显 FHD WIN10)银</span>
								</div>
								<div class="cart-icon-list"></div>
								<div class="cart-product-value">
									<span class="item-price" ng-model="price10">
										￥<strong>4995</strong>.00
									</span>
									<div class="quantity-wrapper">
										<a href="" class="quantity-decrease" ng-click="quantityDecrease(10)"></a>
										<input type="tel" name="num" class="quantity" size="4" ng-model="number10">
										<a href="" class="quantity-increase" ng-click="number10=number10+1"></a>
									</div>
								</div>
							</div>
							<div class="cart-product-cell-3">
								<div class="shopping-btn-quantity">
									<a href="" class="cart-edit-btn">
										<span class="right-boundary"></span>
										<span class="btn-msg-in" ng-click="editCart(10)" ng-class="{'cart-edit-btn-hidden':isEditHidden10}">编辑</span>
									</a>
								</div>
								<div class="option-btns" ng-class="{'option-btns-hidden':isOptionHidden10}">
									<div class="shop-btn-com">
										<a href="" class="cart-focus-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="focus-btn-msg" ng-click="">移入关注</span>
										</a>
										<a href="" class="cart-delete-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="delete-btn-msg" ng-click="deleteItem(10)">删除</span>
										</a>
										<a href="" class="cart-finish-btn cart-new-btn">
											<span class="right-boundary"></span>
											<span class="finish-btn-msg" ng-click="editCart(10)">完成</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--选购物品时清单显示end-->

<!--支付计算-->
<div id="payment">
	<div class="payment-total-bar">
		<div class="total-radio-btn">
			<span class="cart-checkbox checked" id="checkTcon-1" ng-click="checkIcon()" ng-class="{'checked':isChecked}"></span>
			<span class="cart-checkbox-text">全选</span>
		</div>
		<div class="car-info">
			<strong id="cartTotal" class="cart-Total">合计：
				<span class="total-bar-price" ng-model="totalPrice">{{'￥'+(Price01*number01).toFixed(2)}}</span>
			</strong>
		</div>
		<a href="" class="btn-right-block">
			去结算
			<span id="checkedNum">(1)</span>
		</a>
	</div>
</div>
<!--支付计算end-->

<div class="shopping-guess-container">
	<div class="shopping-guess">
		<div class="gray-text">
			<span class="gray-layout">
				为你推荐
			</span>
		</div>
		<ul class="similar-ul">
			<li id="product001">
				<div class="similar-product">
					<div class="similar-nimg">
						<img src="img/img1.jpg">
						<span class="similar-product-text">哈皮猴 新货威海盐渍海带头2.5kg 新鲜收割产地直发  绿色健康</span>
						<span class="similar-product-price">
							<span class="big-price">19</span>
							<span class="small-price">.80</span>
							<span class="recomm-comment-num">1308条评论</span>
						</span>
						<span class="guess-button recomm-add-cart" ng-click="addInCart(1)"></span>
						<div class="clearFloat"></div>
						<span class="sam-space"></span>
					</div>
				</div>
			</li>
			<li>
				<div class="similar-product">
					<div class="similar-nimg">
						<img src="img/img2.jpg">
						<span class="similar-product-text">【有颜值有实力！】又壹点 家用垃圾袋中号加厚背心式手提塑料袋抽取式 背心式45*65/10卷装</span>
						<span class="similar-product-price">
							<span class="big-price">26</span>
							<span class="small-price">.90</span>
							<span class="recomm-comment-num">1669条评论</span>
						</span>
						<span class="guess-button recomm-add-cart" ng-click="addInCart(2)"></span>
						<div class="clearFloat"></div>
						<span class="sam-space"></span>
					</div>
				</div>
			</li>
			<li>
				<div class="similar-product">
					<div class="similar-nimg">
						<img src="img/img3.jpg">
						<span class="similar-product-text">【京东超市】三剑客 美宜畅乳酸菌牛奶饮品 原味 338ml*10 整箱装（新老包装随机发货）</span>
						<span class="similar-product-price">
							<span class="big-price">36</span>
							<span class="small-price">.00</span>
							<span class="recomm-comment-num">4.7万条评论</span>
						</span>
						<span class="guess-button recomm-add-cart" ng-click="addInCart(3)"></span>
						<div class="clearFloat"></div>
						<span class="sam-space"></span>
					</div>
				</div>
			</li>
			<li>
				<div class="similar-product">
					<div class="similar-nimg">
						<img src="img/img4.jpg">
						<span class="similar-product-text">【3免1】美型 苹果数据线7/6s快充电线锌合金指示灯iphone6/6s/7ipad 闪电快充-玫瑰金1米</span>
						<span class="similar-product-price">
							<span class="big-price">13</span>
							<span class="small-price">.80</span>
							<span class="recomm-comment-num">5662条评论</span>
						</span>
						<span class="guess-button recomm-add-cart" ng-click="addInCart(4)"></span>
						<div class="clearFloat"></div>
						<span class="sam-space"></span>
					</div>
				</div>
			</li>
			<li>
				<div class="similar-product">
					<div class="similar-nimg">
						<img src="img/img5.jpg">
						<span class="similar-product-text">【京东超市】e洁 自动收口垃圾袋加厚手提式 45cm*50cm*18只*6卷</span>
						<span class="similar-product-price">
							<span class="big-price">19</span>
							<span class="small-price">.80</span>
							<span class="recomm-comment-num">1100条评论</span>
						</span>
						<span class="guess-button recomm-add-cart" ng-click="addInCart(5)"></span>
						<div class="clearFloat"></div>
						<span class="sam-space"></span>
					</div>
				</div>
			</li>
			<li>
				<div class="similar-product">
					<div class="similar-nimg">
						<img src="img/img6.jpg">
						<span class="similar-product-text">可爱多 婴儿柔湿巾新生儿宝宝儿童手口湿纸巾盖装80抽*5包共400抽</span>
						<span class="similar-product-price">
							<span class="big-price">21</span>
							<span class="small-price">.90</span>
							<span class="recomm-comment-num">1856条评论</span>
						</span>
						<span class="guess-button recomm-add-cart" ng-click="addInCart(6)"></span>
						<div class="clearFloat"></div>
						<span class="sam-space"></span>
					</div>
				</div>
			</li>
			<li>
				<div class="similar-product">
					<div class="similar-nimg">
						<img src="img/img7.jpg">
						<span class="similar-product-text">【京东超市】清风（APP）抽纸 柔韧2层200抽软抽*20包纸巾（新老包装交替发货）（整箱售卖）</span>
						<span class="similar-product-price">
							<span class="big-price">39</span>
							<span class="small-price">.90</span>
							<span class="recomm-comment-num">48.1万条评论</span>
						</span>
						<span class="guess-button recomm-add-cart" ng-click="addInCart(7)"></span>
						<div class="clearFloat"></div>
						<span class="sam-space"></span>
					</div>
				</div>
			</li>
			<li>
				<div class="similar-product">
					<div class="similar-nimg">
						<img src="img/img8.jpg">
						<span class="similar-product-text">又壹点 垃圾桶家用大号不锈钢翻盖脚踏式静音卫生桶 12升垃圾桶 不锈钢材质</span>
						<span class="similar-product-price">
							<span class="big-price">129</span>
							<span class="small-price">.00</span>
							<span class="recomm-comment-num">78条评论</span>
						</span>
						<span class="guess-button recomm-add-cart" ng-click="addInCart(8)"></span>
						<div class="clearFloat"></div>
						<span class="sam-space"></span>
					</div>
				</div>
			</li>
			<li>
				<div class="similar-product">
					<div class="similar-nimg">
						<img src="img/img9.jpg">
						<span class="similar-product-text">全8册写给儿童的中国历史故事 中华上下五千年 青少年版 儿童文学 历史百科6-15岁</span>
						<span class="similar-product-price">
							<span class="big-price">36</span>
							<span class="small-price">.80</span>
							<span class="recomm-comment-num">1712条评论</span>
						</span>
						<span class="guess-button recomm-add-cart" ng-click="addInCart(9)"></span>
						<div class="clearFloat"></div>
						<span class="sam-space"></span>
					</div>
				</div>
			</li>
			<li>
				<div class="similar-product">
					<div class="similar-nimg">
						<img src="img/img10.jpg">
						<span class="similar-product-text">小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G PCIE固态硬盘 940MX独显 FHD WIN10)银</span>
						<span class="similar-product-price">
							<span class="big-price">4995</span>
							<span class="small-price">.00</span>
							<span class="recomm-comment-num">2.3万条评论</span>
						</span>
						<span class="guess-button recomm-add-cart" ng-click="addInCart(10)"></span>
						<div class="clearFloat"></div>
						<span class="sam-space"></span>
					</div>
				</div>
			</li>
		</ul>
		<img src="img/no-more.png" class="no-more">
		<span class="txt-nomore">以上根据您购物车中已有商品推荐</span>
	</div>
</div>


<footer class="footshow" style="height: 57px;"></footer>	
</body>
<script src="JS/angular.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="JS/angularJD.js"></script>
</html>